.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
}

.githubLink {
  color: #000;
  font-size: 20px;
  text-decoration: underline;
}

.auth {
  color: #5346c7;

  text-decoration: underline;
}

.text {
  /* text-align: center; */
  font-size: 14px;
  /* font-style: italic; */
}

.storyBook {
  margin: 0;
}
/* .margin {
  margin-left: 10px;
} */
