ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

label,
input,
textarea,
img {
  display: block;
}

.Loader {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 220px;
  height: 30px;
  margin-bottom: 15px;
}

form {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 0 none;
  border-radius: 5px;
  padding: 20px 30px;
  box-sizing: border-box;
}

.title {
  margin-bottom: 10px;
  font-size: 18px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 30px;
  text-decoration: none;
}

.margin {
  margin-left: 15px;
  margin-bottom: 15px;
}
